
body {background-color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23c7c3c1' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

* { 
font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: 650;
}

header>span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #767676;
    padding: 3px 3px;    
}

p {
    text-align: left;
    font-size: 18px;
    color: #767676;
    }

main{
    margin-top: 40px;
}

a.boton:link, a.boton:visited  {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 55px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px 15px;
}
a.boton:hover, a.boton:active {
    background-color: black;
    color: white;
}

footer{
    margin-top: 50px;
    text-align: center;
}

input#message{
    width: 400px;
    height: 80px;
}