* {
    font-family:'Times New Roman', Times, serif;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.title {
    background-color: lightgray;
    text-transform: uppercase;
    text-align: center;
    color: #005677;
    font-feature-settings: "cpsp";
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 1pt;
    word-spacing: 10pt;
}
.subtitles {
    background-color: lightgray;
    text-transform: uppercase;
    color: #005677;
    font-feature-settings: "cpsp";
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1pt;
    word-spacing: 6pt;
}
ul span {
    font-size: 15px;
    font-weight: bold;
}
.footer {
    background-color:#005677;
    color: white;
    font-size: 20px;
}